html {
    font-family: courier;
    overflow: hidden;
    margin: 0;
}

body {
    margin: 0;
}

.centered_div {
    text-align: center;
    background-color:rgb(211, 211, 211);
    margin: auto;
    height: 100%;
    width: 60%;
    background-image: url("Textures/original.png");
}

.scoreText {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px;
    font-size: 20px;
    background-color: rgba(180, 220, 255, 0.311);
}

.guntweaker {
    z-index: 100000;
    background-color: #52525227;
    position: fixed;
    top: 20%;
    left: 40%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.guntweakerInput {
    width: 100%;
}

.guntweakerLabel {
    width: 100%;
}


.headshot {
    display: flex;
    position: absolute;
    top: 30%;
    left: 41%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px;
    font-size: 50px;
    height: 5%;
    display: none;
    animation: tilt-shaking .4s;
    animation-fill-mode: forwards;
}

.headshot span {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    /* background-color: rgba(145, 204, 255, 0.625); */
}

ul {
    margin: 3%;
    padding: 0%;
}

li {
    display: flex;
    background-color: aliceblue;
    width: 60%;
    margin: auto;
    height: 7%;
    list-style: none;
}

span {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

li:hover {
    background-color: rgb(204, 216, 238);
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: auto;
    color: white;
}

.overlay{
    background-color:#ccc;
    position:fixed;
    display: none;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    font-size: 200px;
}

.progressbar{
    opacity:0.8;
    background-color:rgb(255, 0, 0);
    position:fixed;
    display: none;
    width:100%;
    height:10%;
    margin: 10%;
    top:50%;
    z-index:1000;
}

.reticle {
    background-color:rgba(0, 0, 0, 1);
    position: fixed;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    left: calc(50% - 1.5px);;
    top:  calc(50% - 1.5px);;
}
.hitmarker {
    background-image:url('Textures/hitmarker.png');
    position: fixed;
    background-size: 20px;
    height: 10px;
    width: 20px;
    left: calc(50% - 10px);
    top:  calc(50% - 5.6px);
    opacity: 0;
}

.playhitmarker {
    animation: zitmarker 1s;
}

.scoreboardParent {
    display: flex;
    position:fixed;
    width:100%;
    z-index:1000;
}

.scoreboard {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 30%;
    height: 70%;
}

.scoreboardBlue {
    background-color: #0099ff27;
}

.scoreboardRed {
    background-color: rgba(220, 20, 60, 0.331);
}

.scoreboardFFA {
    display: none;
}

.teamSelector {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    /* background-image: url("Textures/original.png"); */
}

.teamSelectionHeader {
    margin: auto;
    width: max-content;
    display: flex;
    color: white;
    background-color: purple;
}

.teamselection {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 200px;
}

.teamSelectButton {
    position: fixed;
    width: 25%;
    height: 50%;
    top: 0px;
    font-size: 200px;
    display: flex;
    font-size: 50px;
    margin: 10% 0 0 12.5%;
    color: whitesmoke;
}
.teamSelectButton span {
    margin: 25px;
}

.teamselectionOne {
    background-color:rgba(246, 1, 1, 0.19);
    left: 0px;
}

.teamselectionTwo {
    background-color:rgba(1, 58, 246, 0.19);
    left: 50%;
}
.teamselectionOne:hover {
    background-color:rgba(246, 1, 1, 0.327);
    cursor: pointer;
}

.teamselectionTwo:hover{
    background-color:rgba(1, 58, 246, 0.327);
    cursor: pointer;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); opacity: 1; }
    12.5% { transform: rotate(5deg); }
    25% { transform: rotate(0eg); }
    37.5% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    62.5% { transform: rotate(5deg); }
    75% { transform: rotate(0deg); opacity: .5;}
    87.5% { transform: rotate(-5deg);  opacity: .2;}
    100% { transform: rotate(0deg); opacity: 0;}
}

@keyframes zitmarker {
    0% { opacity: 1; }
    100% { opacity: 0;}
}