html {
    background-color: #000000;
    font-family: courier;
}
.header {
    color: #28ebdb;
    display: flex;
    margin: 10px;
}
.header span {
    font-size: 50px;
    margin: auto;
}

.serverselection-menu-header-text {
    font-weight: bold;
}


.serverselection-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.serverselection-menu-item {
    margin: auto;
    width: 40%;
    display: flex;
    background-color: #FFFCF2;
}

.serverselection-menu-item span {
    font-size: 25px;
    margin: 20px;
}
.serverselection-menu-item:hover {
    background-color: #CCC5B9;
    cursor: pointer;
}

.serverselection-menu-item-input {
    margin: auto;
    width: 40%;
    display: flex;
    background-color: #FFFCF2;
}

.serverselection-menu-item-input-parent {
    margin: auto;
    width: 40%;
    display: flex;
    background-color: #FFFCF2;
}