html {
    background-color: #000000;
    font-family: courier;
}

body {
    margin: 0;
    border: #28ebdb;
    border-style: dashed;
}

.header {
    color: #ffffff;
    display: flex;
    margin: 60px;
}
.header span {
    font-size: 50px;
    margin: auto;
}

.startscreen-contact-text {
    color: white;
}

.startscreen-menu-header-text {
    color: #ffffff;
    font-weight: bold;
}

.startscreen-menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    background-color: #d4d1d13f;
    height: 70%;
}

.startscreen-menu-item {
    display: flex;
    background-color: #FFFCF2;
    margin: auto;
    width: 500px;
    border-radius: 10px;
}
.startscreen-menu-item span {
    font-size: 25px;
    margin: 20px auto;
    color: black !important;
}
.startscreen-menu-item:hover {
    background-color: #CCC5B9;
    cursor: pointer;
}
footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.startscreen-menu-item-input {
    margin: 10px 0;
    width:  300px;
}

.startscreen-menu-item-input-parent {
    /* width: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.startscreen-menu-item-input-parent span{
    color: white;
    
}