html {
    font-family: courier;
    overflow: hidden;
    margin: 0;
}
body {
    margin: 0;
}
canvas {
    background-color: black;
}

.centered_div {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.scoreText {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px;
    font-size: 20px;
    background-color: rgba(180, 220, 255, 0.311);
}

.headshot {
    display: flex;
    position: absolute;
    top: 30%;
    left: 41%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px;
    font-size: 50px;
    height: 5%;
    display: none;
    animation: tilt-shaking .4s;
    animation-fill-mode: forwards;
}

.headshot span {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    /* background-color: rgba(145, 204, 255, 0.625); */
}

ul {
    margin: 3%;
    padding: 0%;
}

li {
    display: flex;
    background-color: aliceblue;
    width: 60%;
    margin: auto;
    height: 7%;
    list-style: none;
}

span {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

li:hover {
    background-color: rgb(204, 216, 238);
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: auto;
    color: white;
}

.overlay{
    background-color:rgb(0, 0, 0);
    position:fixed;
    display: none;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    font-size: 200px;
}

.loading-text {
    font-size: 50px;
    text-align: center;
    padding-bottom: 10%;
    color: #28ebdb;
}

.progressbar{
    opacity:0.8;
    background-color:#28ebdb;;
    position:fixed;
    display: none;
    height:6%;
    margin-left: calc(50% - 20%);
    top:51%;
    z-index:1000;
}
.progressbar-outline{
    opacity:0.8;
    background-color:rgb(73, 73, 73);
    position:fixed;
    width:42%;
    height:8%;
    margin-left: calc(50% - 21%);
    top:50%;
    z-index:999;
}

.reticle {
    background-color:#28ebdb;
    position: fixed;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    left: calc(50% - 1.5px);;
    top:  calc(50% - 1.5px);;
}

.characterInput {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 30%;
    margin-top: 50px;
    color: wheat;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.characterModel {
    width: 80px;
    height: 200px;
    margin: 0 auto;
}

.teamSelect {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.legs {
    width: 10px;
    height: 50px;
    background-color: red;
}
.arms {
    width: 50px;
    height: 10px;
    background-color: red;
}
.a_r {margin: -218px -50px;}
.l_r {margin: 276px 0px;}

.a_l {margin: -42px 50px;}
.l_l {margin: 100px 40px;}

.head {
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.colorpickerHead {
    margin-left: 100px;
}
.body {
    background-color: red;
    width: 50px;
    height: 70px;
    margin: 0 auto;
}
.userNameInput {
    margin: 0 auto;
}
.colorpicker {
    margin-top: 15px;
    margin-left: 110px;
}
.selected {
    border-style: dotted;
}
.teamSelectOptionOne {
    color:#0099ff
}
.teamSelectOptionTwo {
    color: crimson
}
.teamSelectOptionOne:hover {
    background-color:#075e99;
    cursor: pointer;
}
.teamSelectOptionTwo:hover {
    background-color: rgb(175, 18, 49);
    cursor: pointer;
}

.enterButton {
    background-color: green;
    height: 30px;
    width: 200px;
    margin: 0 auto;
}
.enterButton:hover {
    background-color: rgb(0, 61, 0);
    cursor: pointer;
}
.controls {
    margin-top: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    color: wheat;
    height: auto;
}

.line {
    height: auto;
    width: 1px;
    margin: 25px;
    background: linear-gradient(#6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
}
.hitmarker {
    background-image:url('../hitmarker.png');
    position: fixed;
    background-size: 40px;
    height: 20px;
    width: 40px;
    left: calc(50% - 20px);
    top:  calc(50% - 11.2px);
    opacity: 0;
}

.HUD {
    display: none;
    position: fixed;
}

.healthBar {
    position: fixed;
    background-size: 20px;
    height: 3%;
    width: 30%;
    background-color: #0099ff;
    left: calc(52.5% - 17.5%);
    top:  calc(11.5%);
    margin: 3px;
}

.healthBarContainer {
    position: fixed;
    background-size: 20px;
    height: 3%;
    width: 30%;
    background-color: #fdfdfd;
    left: calc(52.5% - 17.5%);
    top:  calc(11.5%);
    padding: 3px;
}

.inventoryContainer {
    position: fixed;
    background-size: 20px;
    left: 1%;
    top: 11.5%;
    border-style: dotted;
    padding: 3px;
}

.icon {
    border-color: red;
    height: 55px;
}
.respawnScreen {
    display: none;
    position: fixed;
    background-size: 20px;
    height: 3%;
    width: 30%;
    background-color: black;
    color: #28ebdb;
    left: calc(52.5% - 17.5%);
    top:  calc(11.5%);
    margin: 3px;
}


.playhitmarker {
    animation: zitmarker 1s;
}

.scoreboardParent {
    display: none;
    position:fixed;
    width:100%;
    z-index:1000;
}

.scoreboard {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 30%;
    height: 70%;
}

.teamScore {
    color: #28ebdb;
    padding: 5px;
    font-size: 25px;
}

.scoreboardBlue {
    background-color: #0099ff27;
}

.scoreboardRed {
    background-color: rgba(220, 20, 60, 0.331);
}

.scoreboardFFA {
    display: none;
}

.preGameScreen {
    display: flex;
    z-index: -1;
}

.teamSelector {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    display:flex;
    /* background-image: url("Textures/original.png"); */
}

.teamSelectionHeader {
    margin: 0 auto;
    width: max-content;
    display: flex;
    color: white;
    background-color: purple;
}

.teamselection {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 200px;
}

.teamSelectButton {
    position: fixed;
    width: 25%;
    height: 50%;
    top: 0px;
    font-size: 200px;
    display: flex;
    font-size: 50px;
    margin: 10% 0 0 12.5%;
    color: whitesmoke;
}
.teamSelectButton span {
    margin: 25px;
}

.teamselectionTwo {
    background-color:rgba(246, 1, 1, 0.19);
    left: 0px;
}

.teamselectionOne {
    background-color:rgba(1, 58, 246, 0.19);
    left: 50%;
}
.teamselectionTwo:hover {
    background-color:rgba(246, 1, 1, 0.327);
    cursor: pointer;
}

.teamselectionOne:hover{
    background-color:rgba(1, 58, 246, 0.327);
    cursor: pointer;
}

.gameOverScreen {
    color: #28ebdb;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); opacity: 1; }
    12.5% { transform: rotate(5deg); }
    25% { transform: rotate(0eg); }
    37.5% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    62.5% { transform: rotate(5deg); }
    75% { transform: rotate(0deg); opacity: .5;}
    87.5% { transform: rotate(-5deg);  opacity: .2;}
    100% { transform: rotate(0deg); opacity: 0;}
}

@keyframes zitmarker {
    0% { opacity: 1; }
    100% { opacity: 0;}
}