html {
    background-color: #000000;
    font-family: courier;
}
.header {
    color: #28ebdb;
    display: flex;
    margin: 10px;
}
.header span {
    font-size: 50px;
    margin: auto;
}

.startscreen-contact-text {
    color: white;
}

.startscreen-menu-header-text {
    font-weight: bold;
}

.startscreen-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.startscreen-menu-item {
    display: flex;
    background-color: #FFFCF2;
    margin: auto;
    width: 40%;
}
.startscreen-menu-item span {
    font-size: 25px;
    margin: 20px;
}
.startscreen-menu-item:hover {
    background-color: #CCC5B9;
    cursor: pointer;
}