html {
    background-color: #252422;
    font-family: courier;
}
.header {
    color: #EB5E28;
    display: flex;
    margin: 10px;
}
.header span {
    font-size: 50px;
}

.startscreen-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.startscreen-menu-item {
    display: flex;
    background-color: #FFFCF2;
}
.startscreen-menu-item span {
    font-size: 25px;
    margin: 20px;
}
.startscreen-menu-item:hover {
    background-color: #CCC5B9;
    cursor: pointer;
}